<div class="input-group pull-right">
  <span class="" id="tag_fold_buttun">
    <div class="btn btn-default glyphicon glyphicon-plus pull-right" style="top: 0;"></div>
  </span>
  <input id="tag_input" type="text" class="form-control hidden">
  <span class="input-group-btn hidden" id="tag_create_buttun">
    <%= link_to "Del", "#", :method=>"delete", :class =>"btn btn-danger", :remote => true %>
  </span>
</div>