<%= form_for Tag.new, :url => tags_path(:obj => @obj), :remote => true do |f|%>
  <div class="input-group pull-right">
    <span class="" id="tag_fold_buttun">
      <div class="btn btn-default glyphicon glyphicon-console pull-right" style="top: 0;font-weight: bold;"></div>
    </span>
    <%= f.text_field :name, :id => "tag_input", :class => "form-control hidden" %>
    <span class="input-group-btn hidden" id="tag_create_buttun">
      <%= f.submit "add", :class =>"btn btn-success" %>
    </span>
  </div>
<% end %>
